django==5.2.16
pillow==12.3.0
djangorestframework==3.17.1
mysqlclient==2.2.8
gunicorn==26.0.0
markdown==3.10.2
rich==13.4.1
typer==0.9.0
shellingham==1.5.0.post1
django-extensions==3.2.3
django-filter==23.2
django-static-autocollect==0.1
whitenoise==6.12.0