{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% tailwind_css %}
</head>
<body class="m-0 box-border">
    <main>
        <header class="m-auto p-3 bg-orange-400">
            <nav class="flex flex-row-reverse">
                {% block nav %} {% endblock %}
            </nav>
        </header>
        {% block content %} {% endblock %}
    </main>
</body>
</html>