{% extends 'index.html' %}

{% block title %}
Bem-vindo!
{% endblock %}

{% block content %}
<section>
    <form action="/" method="post">
        <label for="user">
            Nome de usuário:
            <input type="text" name="user" placeholder="@seunomedeusuario" required>
        </label>
        <label for="password">
            Senha:
            <input type="password" name="password" required>
        </label>
        <button type="submit">Entrar</button>
    </form>
</section>
{% endblock %}