{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %}
Criar conta
{% endblock %}

{% block nav %}
<button class="p-1 mr-10 rounded-xl hover:bg-white">
    <a href="{% url 'login-page' %}">Fazer Login</a>
</button>
{% endblock %}

{% block content %}
<section class="mt-20">
    <img src="{% static 'img/O_ASSIST.gif' %}" alt="Logo" class="h-50 w-50 m-auto">
    <form action="" method="post" class="w-1/2 m-auto mt-10 p-5 shadow-xl flex flex-col gap-y-3">
        {% csrf_token %}
        {% render_field form.name class+="p-1"|append_attr: placeholder="Nome" %}
        {% render_field form.nickname class+="p-1"|append_attr: placeholder="Nome de usuário" %}
        {% render_field form.email class+="p-1"|append_attr: placeholder="E-mail" %}
        {% render_field form.password class+="p-1 pass"|append_attr: placeholder="Senha" %}
        <button type="button" id="show-password">{O}</button>
        <button type="submit" class="m-auto mt-2 p-2 hover:bg-orange-400 focus:outline-2 focus:outline-offset-1 focus:outline-orange-400 active:bg-orange-500 rounded-md">Criar</button>
    </form>
</section>
<script src="{% static 'script/showPassword.js' %}"></script>
{% endblock %}